@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    padding: 8px 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: white;
    margin: 0px 24px 0px 8px;
}
nav > img {
    max-width: 56px;
    max-height: 56px;
    margin: 0px 0px 0px 0px;
}
nav > div.Espaco {
    width: 72.969%;
    height: 40px;
    background-color: transparent;
    margin: 0px 0px 0px 16px;
}
nav > span.Entrar {
    margin: 0px;
    padding: 12.5px 35px;
    background-color: #40576d12;
    color: #0e1318;
    cursor: pointer;
    border: 4px;
    border-radius: 4px;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: lighter;
}
nav > span.Registro {
    margin: 0px 0px 0px 5px;
    padding: 12.5px 17px;
    background-color: #7d2ae8;
    border: 4px;
    border-radius: 4px;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: lighter;
}
nav h1 {
    font-size: small;
}
header {
    margin: 24px auto;
    padding: 0px 1px;
    display: block;
    position: relative;
}