@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul1: #0460D9;
    --azul2: #2A7ABF;
    --azul3: #0433BF;
    --amarelo1: #F2CB05;
    --amarelo2: #F2B705;

    --padrão: "Rubik", Arial, Helvetica, Sans-Serif, Serif;
    --cursivo: "Pacifico", Arial, Helvetica, Sans-Serif, Serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--padrão);
    text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
    background-color: var(--azul1);
}

body::-webkit-scrollbar {
    width: 10px;
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 4px;
}

nav {
	background: white;
	height: 80px;
	width: 100%;
}
label.logo {
	color: black;
	font-size: 35px;
	line-height: 80px;
	padding: 0px 30px;
	font-weight: bold;
    text-align: center;
    transition: .3s;
}

label.logo a {
	color: black;
	font-size: 35px;
	line-height: 80px;
	font-weight: bold;
    transition: .3;
    box-shadow: none;
    text-align: center;
}

label.logo a:hover {
    background-color: transparent;
}

label.logo a:active {
    background-color: transparent;
}

nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: black;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}x
a.active, a:hover {
	background: var(--amarelo1);
	transition: .5s;
    color: white;
}

a.active {
    background-color: var(--amarelo2);
    color: white;
}
.checkbtn {
	font-size: 30px;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 1013.9px){
	label.logo a{
		font-size: 30px;
        transition: .5s;
        text-align: center;
        align-items: center;
	}
	nav ul li a{
		font-size: 15px;
        transition: .5s;
	}
}

@media (max-width: 860.8px){
	label.logo a{
		font-size: 30px;
        transition: .5s;
        text-align: center;
        align-items: center;
	}
	nav ul li a{
		font-size: 14px;
        transition: .5s;
	}
}

@media (max-width: 410.8px){
    label.logo a{
        font-size: 20px;
        transition: .5s;
        text-align: center;
        align-items: center;
    }
    nav ul li a{
        font-size: 14px;
        transition: .5s;
    }
}
@media (max-width: 290.8px){
    label.logo {
        padding: 0px 0px 0px 5px;
    }
    label.logo a{
        font-size: 15px;
        transition: .5s;
        text-align: center;
        align-items: center;
    }
    nav ul li a{
        font-size: 14px;
        transition: .5s;
    }
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
    /*
    label.logo a{
		font-size: 35px;
        transition: .5s;
        text-align: center;
        align-items: center;
	}
    */
    @media (max-width: 410.8px){
        label.logo a {
            transition: .5s;
            text-align: center;
            align-items: center;
        }
    }
	ul{
		position: fixed;
		width:100%;
		height: 100vh;
		background: var(--amarelo1);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .8s
	}
    
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: white;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

/* ----------------------------------------------------------------------------------------------------------------*/

main {
    max-width: 1000px;
    margin: auto;
}

